/* Shrink abstract and article text only */
.pub-abstract, 
.article-style {
  font-size: 0.875rem !important; 
  line-height: 1.5rem !important;
}

#research .max-w-prose {
  /* This matches the standard container width of collection lists */
  max-width: 1000px !important; 
  /* Standard size for citation/meta text in publications */
  font-size: 1.25rem !important; 
  line-height: 1.75rem !important;
}